@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: linear-gradient(rgb(255, 255, 255)60%, rgba(138, 0, 156, 0.822), rgba(255, 255, 255, 0.363)),
		url(../images/background.jpeg);
	/*background-image: linear-gradient(rgb(255, 255, 255)40%, rgba(255, 255, 255, 0.363)), url(background.jpeg);*/
}
p.logo {
	color: white;
	background: url(../images/background2.jpg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:50px;
	-webkit-text-stroke :purple;
	-webkit-text-stroke-width: 1px;
 }

