.container {
	&:hover {
		.card {
			filter: blur(5px);
			transform: scale(.7);
		}
	}
	max-width: 1000px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: 0.5s;

	.card {
		&:hover {
			z-index: 1;
			filter: blur(0px);
			transform: scale(1);
			&:before {
				background: rgb(255, 255, 255);
				transform: scaleY(1.15);
				box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
			}
			&::after {
				transform: scaleY(1.15);
			}

			.img_cosmetic {
				transition: 1s;
				width: 10%;
				transform: rotate(250deg);
				opacity: 80%;
			}
			.content {
				color: rgb(0, 0, 0);
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: #fff;
			z-index: 1;
			transition: 0.5s;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			transition: 0.5s;
			background: rgba(255, 255, 255, .1);
			z-index: 1;
		}
		position: relative;
		width: 400px;
		height: 500px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s;
		margin-left: 50px;

		.content {
			text-align: center;
			z-index: 2;
			padding: 0 20px;
			transition: 0.5s;
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 100%;
			h2 {
				font-size: 3em;
			}
			p {
				font-size: 0.9em;
			}
		}

		.img {
			height: 200px;
		}
	}
}

.img_cosmetic {
	position: absolute;
	opacity: 0%;
	width: 0%;
}

.container .card .content {
	a,
	button {
		display: inline-block;
		margin-top: 15px;
		padding: 5px 10px;
		background-color: $base-color3;
		color: #fff;
		text-decoration: none;
		border: unset;
		width: -webkit-fill-available;
		margin-left: 10px;
		margin-right: 10px;
	}
}
.container .card:hover .content {
	a,
	button {
		background:  #00B4CC;
	}
}
