#makeupartistImage {
	content: url(../images/makeupartist.png);
}

#makeupartistBusinessImage {
	content: url(../images/makeupartistbussines.png);
}

#mirror {
	content: url(../images/lusterko.png);
	left: 50px;
	bottom: 150px;
}

#mascara {
	content: url(../images/tusz.png);
	left: 310px;
	bottom: 210px;
}
#perfum {
	content: url(../images/perfumy.png);
	left: 310px;
	top: 200px;
}
#fundation {
	content: url(../images/podklad.png);
	left: 70px;
	top: 200px;
}
#brush {
	content: url(../images/pedzel2.png);
	left: 310px;
	bottom: 120px;
}
