#makeupartistImage {
	content: url(../images/makeupartist.png);
}

#makeupartistBusinessImage {
	content: url(../images/makeupartistbussines.png);
}
@mixin surroundImages($imageName, $left , $bottom) {
	content: url('../images/' + $imageName + '.png');
	left: $left;
	bottom: $bottom;
}

#mirror {
	@include surroundImages('lusterko',50px,150px);
}
#fundation {
	@include surroundImages('podklad',70px,260px);
}

#mascara {
	@include surroundImages('tusz',310px,210px);
}

#perfum {
	@include surroundImages('perfumy',310px,265px);
}

#brush {
	@include surroundImages('pedzel2',310px,120px);
}
